// @import "_action-container";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

select:hover {
    cursor: pointer;
}

.btn {
    padding: 1rem .5rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid #1F1A1E;
    background-color: #1F1A1E;
    color: white;
    width: 100px;
    max-width: 100px;
    font-size: large;

    &--lg {
        width: auto;
        max-width: none;
    }

    &:hover {
        cursor: pointer;
        background-color: white;
        color: #1F1A1E;
    }
}

.setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem;

    &__select-container {
        display: flex;
        justify-content: center;
    }

    &__select {
        margin: 1rem;
    }
}

.fight-container {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.champion-container {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &--align-right {
        align-items: flex-end;
    }

    &--align-left {
        align-items: flex-start;
    }

    &__btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.champion-holder {

    &__card {
        width: 100%;
        max-width: 400px;
    }

    &__start-turn-btn {
        margin-top: 1rem;
    }

    &__die {
        pointer-events: none;
    }

    &__health {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: .5rem 0;
        min-height: 100px;
    }

    &__health-icon {
        width: 50px;
        margin: .1rem;

        &--lg {
            width: 75px;
        }
    }

    &__charge {
        width: 100px;
        margin: .5rem 0;
        filter: brightness(25%);
    }
}

.js_titan-charge {
    &--bright {
            filter: brightness(100%);
        }
}

.js_challenger-charge {
    &--bright {
            filter: brightness(100%);
        }
}

.token {
    height: 50px;
    margin: .1rem;
}

.hide {
    display: none;
}

// DICE

.js_titan-roll-btn:hover {
    cursor: pointer;
}

.js_challenger-roll-btn:hover {
    cursor: pointer;
}

.roll-container {
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
        margin: 1rem;
    }
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    width: var(--dice-size);
    height: var(--dice-size);
    transition: all 1s ease-out;
    margin: 25px;

    img {
        width: 100%;
    }
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--dice-size);
    height: var(--dice-size);
    background-color: black;
    border: 1px solid gray;
    border-radius: 7.5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(var(--dice-size)/2);
}

/* 3D Object Orientation */

:root {
    --dice-size: 100px;
    --font-size: 16px;
}

.dice-container {
    perspective: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.front {
    transform: rotateY(0deg) translateZ(calc(var(--dice-size)/2));
}

.back {
    transform: rotateY(180deg) translateZ(calc(var(--dice-size)/2));
}

.bottom {
    transform: rotateX(-90deg) translateZ(calc(var(--dice-size)/2));
}

.left {
    transform: rotateY(-90deg) translateZ(calc(var(--dice-size)/2));
}

.right {
    transform: rotateY(90deg) translateZ(calc(var(--dice-size)/2));
}

.top {
    transform: rotateX(90deg) translateZ(calc(var(--dice-size)/2));
}

.face-1-low {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.face-1-high {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(0deg);
}

.face-2-low {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

.face-2-high {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(0deg);
}

.face-3-low {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}

.face-3-high {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(0deg);
}

.face-4-low {
    transform: rotateX(0deg) rotateY(-90deg) rotateZ(0deg);
}

.face-4-high {
    transform: rotateX(360deg) rotateY(-450deg) rotateZ(0deg);
}

.face-5-low {
    transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
}

.face-5-high {
    transform: rotateX(-450deg) rotateY(360deg) rotateZ(0deg);
}

.face-6-low {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}

.face-6-high {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(0deg);
}